/* #cad3d4 */
/* #171717 */

body {
  background-color: #171717;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  color: #ddecee;
  font-family: "Raleway";
}
.app {
  display: flex;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #171717;
  box-sizing: border-box;
  display: flex;
}
header .mainContent {
  padding: 2.5rem;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background-color: #17171700;
  box-sizing: border-box;
  overflow-x: hidden;
  z-index: 10;

  flex-shrink: 10;
}

div.right.backgroundImg {
  background-color: #cad3d4;
  background-image: url("./images/mintosko-GZN-6X85_Jw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(40%);
  height: 100vh;
  /* width: calc(50% - 100vw); */
  z-index: 1;
  width: 820px;
  flex-shrink: 10;
  margin-left: auto;
}

main {
  /* background-color: #313131; */
  width: 100%;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  letter-spacing: 1rem;
  line-height: 100%;
}
header div.mainContent p {
  align-self: flex-end;
  justify-self: end;
}
button.booking {
  width: 15rem;
  height: 3rem;
  align-self: center;
  border: none;
  font-size: 2rem;
  border: 1px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0.068);
  box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.021),
    0 2px 5px 1px rgba(255, 255, 255, 0.24),
    0 4px 8px 1px rgba(255, 255, 255, 0.068);
  color: white;
  backdrop-filter: blur(15px);
}
p {
  letter-spacing: 2px;
}
@media only screen and (max-width: 450px) {
  header div.mainContent {
    padding: 1.2rem;
    align-items: center;
  }
}

section#aboutUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #e4edee;
  height: 100%;
}
section#aboutUs h2 {
  font-size: calc(10vw);
  font-weight: 200;
  margin-bottom: 1rem;
  white-space: nowrap;
}
section#aboutUs p {
  letter-spacing: 3px;
  font-family: "PT Sans";
  font-size: 1.2rem;
}
section#aboutUs h4 {
  font-size: calc(1rem + 1vw);
  font-weight: 300;
  margin-bottom: 3rem;
}
div.textbox {
  max-width: 95%;
  flex-basis: 49vw;
  min-width: 50%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 6%;
}
div.imgContainer {
  flex-grow: 0.8;
  min-height: 80%;
  height: 100vh;
  flex-basis: 50%;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
}

div.left.backgroundImg {
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  flex-shrink: 0;
  height: 100%;
  filter: grayscale(60%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.5s;
  z-index: -1;
}
div.active.left.backgroundImg {
  width: 100%;
  transform: scaleX(1);
  z-index: 1;
}

.galleryNavigation {
  position: absolute;
  display: flex;
  bottom: 0%;
  right: 0%;
  margin: 2rem;
  z-index: 1;
}
.galleryNavigation button {
  background-color: transparent;
  border: none;
  font-family: "Raleway";
  color: #cad3d4;
  font-size: 5rem;
  font-style: italic;
  font-weight: 400;
}
#counter p {
  font-size: 4rem;
  margin-top: 0.1rem;
}
#counter span {
  color: #cad3d4;

  font-size: 3rem;
  margin-bottom: 0.5rem;
}
section#ourTeam {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
}
div.profile {
  min-width: 30vw;
  width: 400px;
  min-height: 300px;
  height: 40vh;
  flex-shrink: 1;
  max-width: 80vw;
  min-width: 250px;
  background-color: rgba(41, 27, 27, 0.062);
  flex-wrap: wrap-reverse;
}
div.profile:nth-child(1) {
  margin-bottom: -5vw;
}
div.profile:nth-child(2) {
  margin-bottom: 10vw;
}

@media only screen and (max-width: 910px) {
  div.profile:nth-child(2) {
    order: -1;
    margin-bottom: 0;
  }
  div.profile:nth-child(1) {
    margin-bottom: 0;
  }
  div.imgContainer {
    height: calc(50vh + 40vw);
  }
}

section#priceList {
  height: fit-content;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#priceList div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin: 10%;
  margin-top: 0;
  height: 100%;
  padding: 5vw;
  gap: 3vw;
}
section#priceList h2 {
  color: #e0e7e7;
  padding: 0;
  font-size: calc(15vw);
  margin: 1rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
}
section#priceList ul {
  margin: 0;
  padding: 0;
  flex-basis: calc(50% - 15vw);
  flex-grow: 4;
  min-width: 450px;
  max-width: 600px;
}
section#priceList a {
  color: white;
  text-decoration: none;
}

section#priceList ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(65, 65, 65);
}

section#priceList ul li p {
  font-size: calc(1rem + 0.1vw);
  white-space: nowrap;
  margin: 1rem 1.5rem;
}
section#priceList ul li p:first-child {
  white-space: break-spaces;
}
section#priceList ul li p:nth-child(2) {
  font-weight: 500;
}
section#priceList ul a:nth-child(even) {
  color: #8d8d8d;
}
/* .dotLeaders{
  border-bottom: 1px solid white;
  height: 1px;
  width: 40%;
  
} */
@media only screen and (max-width: 450px) {
  section#priceList ul {
    min-width: 100%;
  }
  section#priceList ul li p {
    font-size: calc(1rem);
  }
}

section#priceList a {
  transition: opacity 0.2s ease;
}
section#priceList div:hover a {
  opacity: 0.4;
}

section#priceList ul:hover a:hover {
  opacity: 1;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 15;
  background-color: #17171781;
  transition: background-color 0.2s ease-in;
}
nav:hover {
  background-color: #00000083;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li a {
  margin: 0 4vw;
  color: #dde9eb;
  font-family: "Raleway";
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
}


html:not([data-scroll='0']) {
  padding-top: 3em;
}
html:not([data-scroll='0']) nav img {
  opacity: 0.5;
}

nav img{ 
  position: fixed;
  margin-left: 2rem;
  margin-top: -2rem;
  transform:scale(0.8);
}