div#infoContainer{
  width: 35%;
  height: 50%;
  position: relative;
}


div.barberInfo {
  background-color: #dff0f1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.49, 0.07, 0.23, 1.02);
  transform: translateX(-100vw);
  z-index: -20;
  left: 0;
  color: rgb(17, 17, 17);
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: calc(0.5rem + 1vw);
}

div.barberInfo h4{
  font-size: calc(1.5rem + 1vw);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
div.barberInfo p{
font-size: calc(1rem + 0.2.5vw);  
}



div.barberInfo.inFocus {
  transform: translateX(0%);
  transition: transform 0.7s cubic-bezier(0.49, 0.07, 0.23, 1.02);
}



@keyframes slidein {
  from {
    transform: translateX(1500px);
  }

  to {
    transform: translateX(0);
  }
}


@keyframes slideout {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1500px);
  }
}