/* #cad3d4 */
/* #171717 */

body {
  position: absolute;
  background-color: #171717;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  color: #ddecee;
  font-family: "Oswald";
  overflow-x: hidden;
}
.app {
  overflow: scroll;
  display: flex;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
header .mainContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #17171700;
  box-sizing: border-box;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  flex-shrink: 10;
  width: 100vw;
}

div.right.backgroundImg {
  background-color: #cad3d4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(20%);
  height: 100vh;
  z-index: 1;
  width: 820px;
  flex-shrink: 10;
  margin-left: auto;
}

main {
  width: 100%;
}
div#title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: calc(1.2rem + 5.8vw);
  letter-spacing: 2vw;
  line-height: 120%;
  margin: 0;
  line-height: 95%;
}

h1:last-child {
  font-size: calc(0.5rem + 6.5vw);
  flex-shrink: 2;
  min-width: 0;
  font-weight: 600;
  -webkit-text-stroke: 1px #edf7f8;
  -webkit-text-fill-color: transparent;
}
header div.mainContent p {
  align-self: flex-end;
  justify-self: end;
}
div#headerBtns {
  flex-wrap: wrap;
  width: 72%;
  display: flex;
  gap: 2rem 2rem;
  padding-top: 5vw;
}
.headerBtn {
  color: #171717;
  font-size: calc(1.5rem + 0.6vw);
  font-family: "Oswald";
  border: none;
  border-radius: 100px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0 1.2rem;
  white-space: nowrap;
  box-shadow: 0 5px 5px -3px rgba(27, 27, 27, 0.61),
    0 2px 5px 1px rgba(20, 20, 20, 0.61), 0 4px 8px 1px rgba(44, 44, 44, 0.815);
}
button.headerBtn:last-child {
  backdrop-filter: blur(100px);
  background-color: transparent;
  border: 2px solid white;
  color: #ddecee;
}
button.headerBtn span {
  font-size: calc(1.5rem + 0.6vw);
}
span.material-symbols-outlined {
  vertical-align: middle;
  padding-left: 3vw;
}
p {
  letter-spacing: 2px;
}
@media only screen and (max-width: 450px) {
  header div.mainContent {
    padding: 1.2rem;
    align-items: center;
  }
  div.right.backgroundImg {
    width: 100vw;
  }
  header {
    justify-content: baseline;
  }
}
h2 {
  font-size: 8vh;
  font-weight: 300;
  margin-bottom: 1rem;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 1vw;
  margin-left: 10vw;
}

section#aboutUs {
  padding-bottom: 10vh;
}
div.textbox {
  background-color: #dff0f1;
  color: #19191a;
  padding: 3vw;
  padding-left: 4vw;

  margin-left: 6vw;
  max-width: 700px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #dff0f1;
  color: #19191a;
  height: max-content;
  justify-items: flex-start;
  align-items: flex-end;
}
div.textbox p,
h4 {
  font-family: "Raleway";
  letter-spacing: 2px;
  line-height: 1.5rem;
  font-size: 1.2;
}
div.textbox h4 {
  font-size: 2rem;
  font-weight: 400;
}
section#portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galleryContainer.portfolio {
  /* overflow: visible; */
  flex-basis: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  height: 50vh;
  position: relative;
}

div.carousel.portfolio.imgContainer {
  width: 50vh;
  position: absolute;
  flex-shrink: 0;
  display: flex;
  transform: translateX(-50%);
  height: 50vh;
  opacity: 1;
  transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 1s;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.carousel.portfolio.imgContainer div {
  height: 90%;
  width: 90%;
  box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.329);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s, box-shadow 1s, transform 1s;
}

div.carousel.portfolio.imgContainer.noFocus div {
  opacity: 0.8;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.247);
  transform: scale(0.95);
}

.galleryNavigation {
  position: absolute;
  display: flex;
  bottom: 0%;
  right: 0%;
  margin: 2rem;
  z-index: 1;
}
.galleryNavigation button {
  background-color: transparent;
  border: none;
  font-family: "Oswald";
  color: #cad3d4;
  font-size: 5rem;
  font-style: italic;
  font-weight: 400;
}
#counter p {
  font-size: 4rem;
  margin-top: 0.1rem;
}
#counter span {
  color: #cad3d4;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
section#priceList div#priceListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin: 3vw;
  margin-top: 0;
  height: 100%;
  padding: 5vw;
  column-gap: 1.2vw;
}
section#priceList ul {
  margin: 0;
  padding: 0;
  flex-basis: calc(50% - 15vw);
  flex-grow: 4;
  min-width: 450px;
  max-width: 600px;
  background-color: #dff0f1;
  color: #171717;
}
section#priceList a {
  color: white;
  text-decoration: none;
}

section#priceList ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgb(161, 161, 161);
  box-sizing: border-box;
  padding: 0.2rem;
}

section#priceList ul li p {
  font-size: 1rem;
  white-space: nowrap;
  margin: 1rem 1.5rem;
}
div#priceListContainer {
  height: 90vh;
}
div#priceListContainer ul:last-of-type {
  align-self: flex-start;
}

section#priceList ul li p:first-child {
  white-space: break-spaces;
}
section#priceList ul li p:nth-child(2) {
  font-weight: 500;
}
section#priceList ul a:nth-child(odd) {
  color: #171717;
}

section#priceList ul a:nth-child(even) {
  color: #1f1f1f;
}

@media only screen and (max-width: 450px) {
  section#priceList ul {
    min-width: 100%;
  }
  section#priceList ul li p {
    font-size: calc(1rem);
  }
}

section#priceList a {
  transition: opacity 0.2s ease;
}
section#priceList ul:hover a {
  opacity: 0.4;
}

section#priceList ul:hover a:hover {
  opacity: 1;
  color: rgb(3, 3, 7);
}

section#topBar {
  background-color: rebeccapurple;
  width: 90%;
  position: absolute;
  top: 3rem;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  border-top: 5px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 90%;
  justify-content: space-between;
  z-index: 15;
  top: 3rem;
  height: 12rem;
  transition: background-color 0.2s ease-in;
  padding-top: 0.8rem;
  align-items: flex-start;
}

nav ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
nav ul li {
  margin: 0.5rem 0;
}
nav ul li a,
nav a.phone {
  color: #dde9eb;
  font-size: (0.5rem + 3vw);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

a.phone {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-family: "Lato";
  color: #dde9eb;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
nav img {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: scale(0.8);
}

footer {
  height: 50vh;
  background-color: #19191a;
  display: flex;
  padding: 4vh;
  box-sizing: border-box;
  gap: 4vw;
}
footer div#map {
  max-width: 60%;
}

footer h5 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-bottom: 4vh;
  font-style: normal;
}

address {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

address p {
  margin: 0;
}

address a:last-of-type {
  transform: translateX(-400%);
}
